*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
button {
    cursor: revert;
}

ol,
ul,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    -webkit-user-select: auto;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}


::placeholder {
    color: unset;
}


:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/karla-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-500 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/karla-v23-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-italic - latin */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/karla-v23-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-700italic - latin */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../fonts/karla-v23-latin-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-800italic - latin */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 800;
    src: local(''),
        url('../fonts/karla-v23-latin-800italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-800italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {

    margin: 0 2%;
}

.header {

}

.header__wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-right: 117px;
    position: relative;
}

.nav__link:after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0.25;
    
}

.nav__link:last-child {
    margin-right: 0px;
}

.cart__link {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    align-items: center;

}

.header__cart {
    height: auto;
    width: 104px;
    position: relative;
}

.header__cart:after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0.25;
    
}

.bO {
    margin-top: 46px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.bOProducts {
    margin: 61px 106px 0px 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.tagline {
    margin-top: 20px;
    display: flex;
    justify-content:center;
    align-items: center; 
}
