*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
button {
    cursor: revert;
}

ol,
ul,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    -webkit-user-select: auto;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}


::placeholder {
    color: unset;
}


:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/karla-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-500 - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/karla-v23-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-italic - latin */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/karla-v23-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-700italic - latin */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../fonts/karla-v23-latin-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-800italic - latin */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 800;
    src: local(''),
        url('../fonts/karla-v23-latin-800italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/karla-v23-latin-800italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {

    margin: 0 2%;
}

.header {}

.header__wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-right: 117px;
    position: relative;
}

.nav__link:after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0.25;

}

.nav__link:last-child {
    margin-right: 0px;
}

.cart__link {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    align-items: center;

}

.header__cart {
    height: auto;
    width: 104px;
    position: relative;
}

.header__cart:after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0.25;

}

.cO {
    margin-top: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cObj {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
}

.bOProducts {
    margin: 61px 106px 0px 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline {
    margin-top: 20px;
    position: absolute;
    width: 814px;
    height: 47px;
    left: 570px;
    top: 890px;
}

.Menu {
    margin-right: 165px;
}

.menuObjs {
    margin: 50px 0px 50px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuObj {}

.cbText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;
}

.csText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.contObjs {
    margin: 70px 0px 70px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cImg {
    padding-left: 40px;
}

.workwuBtn {
    width: 300px;
    height: 100px;
    background: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 300px;
    height: 100px;
    left: 827px;
    top: 721px;

}

.workwubtnText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    width: 250px;
    height: 50px;
}

.ausTextdiv {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 23px 0px 40px 0px;
}

.ausText {
    position: absolute;
    width: 1551px;
    height: 504px;
    left: 191px;
    top: 277px;
}

.abBg {
    position: absolute;
    width: 1753px;
    height: 775.56px;
    left: 84px;
    top: 176px;

}

.prdctBtn {
    float: left;
}

.productOne {
    margin-top: 26px;
}

.productoneMenu {
    width: 416px;
    vertical-align: top;
    margin: 0px 50px 0px 50px;
    float: left;
}

.productoneText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-right: 50px;
}

.bussinesBtn {
    border-radius: 20px;
    position: absolute;
    width: 550px;
    height: 60px;
    left: 690px;
    top: 820px;

    background: #000000;

}

.bussinesText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

.govno {
    position: absolute;
    width: 1410px;
    height: 676px;
    left: 274px;
    top: 91px;
}

.hrInfo {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

}

.hrObjs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.vacbigText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

.vacobjbigText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.vacObj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

}

.vacobjText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    width: 728px;
}

.vacobjText1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    width: 728px;
    margin-top: 65px;
}

.busObj {
    display: flex;
    justify-content: center;
    align-items: center;

}

.busText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    width: 1489px;
    margin: 26px 0px 26px 0px;
}

.busPartn {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 26px;
    position: relative;
}

.busPartn:after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0.25;
}

.busPartnSVG {
    width: 1250px;
}

.prdctBtn {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 206px;
    top: 832px;
}

.form__div {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.form__group {
    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;


}

.form__text {
    margin-bottom: 90px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 600px;
}

.form__button {
    margin-top: 10px;

    background: #000000;
    border-radius: 10px;
    width: 140px;
    height: 40px;
}

.button__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

/* .form {
    width: 1500px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
}

.form__label {
    top: 0;
    z-index: -1;
    color: #9e9e9e;
    transition: 0.3s;
}

.form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
} */

.form__inp {
    margin-top: 81px;
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 300px;

}

.formdiv__text {
    margin-top: 30px;

}

.form__text:first-child {
    margin-top: 20px;
}

.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding-left: 10px;
    padding-top: 40px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: 25%;
    top: 400px;
    left: -200px;
    transition: .6s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    border-radius: 10px;

}

.btn-menu {
    color: #fff;
    background-color: #666;
    padding: 5px;
    position: fixed;
    top: 500px;
    left: 30px;
    cursor: pointer;
    transition: left .6s;
    z-index: 3;
    width: 35px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    border-radius: 5px;

}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .3s;
    position: relative;

}

.btn-menu span.first {
    margin-top: 0;

}

.hidden-menu-ticker {
    display: none;

}

.hidden-menu-ticker:checked~.btn-menu {
    transition: .6s;
    left: 160px;
    top: 600px;

}

.hidden-menu-ticker:checked~.hidden-menu {
    left: 0;

}

.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;

}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;

}

.hidden-menu-ticker:checked~.btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;

}

.cart__objs {
    display: flex;
    flex-direction: column;
}

.cart__obj {
    margin: 24px 0px 0px 50px;
}

.cart__deleteFirst {
    position: absolute;
    width: 84px;
    height: 33px;
    left: 746px;
    top: 462px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;

    cursor: pointer;
}

.cart__deleteSecond {
    position: absolute;
    width: 84px;
    height: 33px;
    left: 746px;
    top: 819px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;

    cursor: pointer;
}

.cart__bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.cart__bottomText {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    position: relative;
}

.cart__bottomText:after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0.25;
}